<footer class="bg-dark">
    <div class="container" style="margin:0 0 -60px 0">
        <div class="row">
            <div class="col-md-4 pt-5">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img style="width:200px;" src="~/assets/img/logo/footer_main.png" alt="logo"/>
                </a> 
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Thành Viên</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>Vũ Hồng Phúc</li>
                    <li>Đào Thanh Tùng</li>
                    <li>Hoàng Xuân Nam</li>
                    <li>Nguyễn Văn Dũng</li>
                    <li>Phan Hoàng Hiệp</li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Xem Thêm</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                    <li><a class="text-decoration-none" asp-controller="Home" asp-action="Products">Sản Phẩm</a></li>
                    <li><a class="text-decoration-none" asp-controller="Blog" asp-action="Index">Tin Tức</a></li>
                    <li><a class="text-decoration-none" asp-controller="Home" asp-action="Contact">Liên Hệ</a></li>
                    <li><a class="text-decoration-none" asp-controller="Home" asp-action="About">Về Chúng Tôi</a></li>
                </ul>
            </div>

        </div>   
    </div>
</footer>