@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:;">Trang Admin Cho Bộ Môn Phát Triển Phần Mềm</a>
    </div>
</nav>
<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/adminassets/img/faces/hoang-hiep.jpg" />
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Nhóm Trưởng</p>
                                <p class="card-title">Phan Hoàng Hiệp<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-hand-peace-o "></i>
                        Nhóm 4 - Phát Triến Phần Mềm - 20CN3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/adminassets/img/faces/thanh-tung.jpg" />
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Thành Viên</p>
                                <p class="card-title">Đào Thanh Tùng<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-hand-peace-o "></i>
                        Nhóm 4 - Phát Triến Phần Mềm - 20CN3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/adminassets/img/faces/xuan-nam.jpg" />
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Thành Viên</p>
                                <p class="card-title">Hoàng Xuân Nam<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-hand-peace-o "></i>
                        Nhóm 4 - Phát Triến Phần Mềm - 20CN3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/adminassets/img/faces/van-dung.jpg" />
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Thành Viên</p>
                                <p class="card-title">Nguyễn Văn Dũng<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-hand-peace-o "></i>
                        Nhóm 4 - Phát Triến Phần Mềm - 20CN3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <img src="~/adminassets/img/faces/vu-phuc.jpg" />
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Thành Viên</p>
                                <p class="card-title">Vũ Hồng Phúc<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-hand-peace-o "></i>
                        Nhóm 4 - Phát Triến Phần Mềm - 20CN3
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">Trang Web Bán Mô Hình Figure</h5>
                    <p class="card-category">Made With Love By Phuc</p>
                </div>
                <div class="card-body ">
                    <img style=" width: 100%;" src="~/adminassets/img/banner-3.jpg" />
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-code "></i> Nhóm 4 - Phát Triến Phần Mềm - 20CN3
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">Phạm Trọng Tuấn</h5>
                    <p class="card-category">Giảng Viên Hướng Dẫn</p>
                </div>
                <div class="card-body col-5 col-md-8 ">
                    <img src="~/adminassets/img/faces/pham-tuan.jpg" />
                </div>
                <div class="card-footer ">
                    <div class="legend">
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-graduation-cap"></i> Giảng Viên Hướng Dẫn
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © <script>
                          document.write(new Date().getFullYear())
                    </script>, made with <i class="fa fa-heart heart"></i> by Vu Hong Phuc
                </span>
            </div>
        </div>
    </div>
</footer>

