@{
    ViewData["Title"] = "Home Page";
}

<div class="main-slider" id="imageContainer">
    <a asp-controller="Home" asp-action="Products">
        <img id="image" src="~/assets/img/slider/1-1.jpg" alt="Image">
    </a>
</div>

<div class="container" >
    <div class="section-header">
        <h1>JK Figure - Mô Hình Chính Hãng</h1>
    </div>
    <div class="section-main">
        <div class="section-content">
            <div class="section-item">
                <a asp-controller="Home" asp-action="Products">
                    <img src="~/assets/img/banner/small-banner/1-1-1.png"/>
                </a>
                
            </div>
            <div class="section-item">
                <a asp-controller="Home" asp-action="Products">
                    <img src="~/assets/img/banner/small-banner/1-1-2.png" />
                </a>

            </div>
            <div class="section-item">
                <a asp-controller="Home" asp-action="Products">
                    <img src="~/assets/img/banner/small-banner/1-1-3.png" />
                </a>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section-header">
        <h1>Sản Phẩm Bán Chạy</h1>
    </div>
</div>

