@{
    ViewData["Title"] = "Home Page";
}

<div id="imageContainer" class="carousel slide main-slider" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/assets/img/slider/1-1.jpg" class="d-block w-100" alt="slider">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/slider/1-2.jpg" class="d-block w-100" alt="slider">
        </div>
    </div>
</div>

<div class="container" >
    <div class="section-header">
        <h1>JK Figure - Mô Hình Chính Hãng</h1>
    </div>
    <div class="section-main">
        <div class="section-content">
            <div class="section-item">
                <a asp-controller="Home" asp-action="Products">
                    <img src="~/assets/img/banner/small-banner/1-1-1.png"/>
                </a>
                
            </div>
            <div class="section-item">
                <a asp-controller="Home" asp-action="Products">
                    <img src="~/assets/img/banner/small-banner/1-1-2.png" />
                </a>

            </div>
            <div class="section-item">
                <a asp-controller="Home" asp-action="Products">
                    <img src="~/assets/img/banner/small-banner/1-1-3.png" />
                </a>

            </div>
        </div>
    </div>
</div>

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Sản Phẩm Bán Chạy</h1>
                <p>
                    Những Sản Phẩm Được Nhiều Người Yêu Thích Trong Cửa Hàng Của Chúng Tôi 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/product/1.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-red text-right">890,000 VND</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">NORMA UNX-04S HUNTER KAINAR A-TYPE 2.0 ASY-TAC FRONTEER</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="~/assets/img/product/3.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-red text-right">399,000 VND</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">GUNDAM ASTRAY RED FRAME KAI JIJIA MG 1/100</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/assets/img/product/5.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-red text-right ">940,000 VND</li>
                        </ul>
                        <a href="shop-single.html" class="h2 text-decoration-none text-dark">MG 1/100 RX-78-2 GUNDAM Ver.3.0</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

