
@{
    ViewData["Title"] = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class=" bg-secondary">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Sản Phẩm</h1>
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Trang Chủ / Sản Phẩm</a> 
            </div>
        </div>
    </div>

<div class="container">
    <div class="section-header">
        <h1>các sản phẩm hiện có</h1>
    </div>
</div>
</body>