<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active ">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="nc-icon nc-bank"></i>
                <p>Trang Chính</p>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">
                <i class="nc-icon nc-single-02"></i>
                <p>Quản Lý Người Dùng</p>
            </a>
        </li>
        <li>
            <a href="./map.html">
                <i class="nc-icon nc-pin-3"></i>
                <p>Quản Lý Gian Hàng</p>
            </a>
        </li>
        <li>
            <a href="./notifications.html">
                <i class="nc-icon nc-bell-55"></i>
                <p>Quản Lý Mặt Hàng</p>
            </a>
        </li>
        <li>
            <a href="./notifications.html">
                <i class="nc-icon nc-bell-55"></i>
                <p>Quản Lý Đơn Hàng</p>
            </a>
        </li>
    </ul>
</div>